<mat-tab-group>
    <mat-tab label="Request Plasma">
        <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
        <div class="container">
            <div class="heading">
              <p>Please fill in the details below so we can try and connect you to potential donors</p>
            </div>
            <div style="width: 100; text-align: center;">
                <span [ngStyle]="{'color': messageColor}" *ngIf="message!=''">
                    <svg aria-hidden="true" class="stUf5b qpSchb" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                    </svg>
                    {{message}}
                    </span>
            </div>
            <div>
                <form [formGroup] = "requesterForm" (ngSubmit) = "addRequest()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    </div>
                    
                    <div class="form-group">
                        <label>Mobile No.</label>
                        <input type="number" class="form-control" formControlName="mobile_no" placeholder="Mobile No.">
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" class="form-control" formControlName="age" placeholder="Age">
                    </div>

                    <div>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option *ngFor="let gender of genders" [value]="gender">
                                {{gender}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>City</mat-label>
                            <mat-select formControlName="city">
                                <mat-option *ngFor="let city of cities" [value]="city">
                                {{city}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            
                    <div>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Required Blood Group</mat-label>
                            <mat-select formControlName="blood_group">
                                <mat-option *ngFor="let group of bloodGroups" [value]="group">
                                {{group}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            
                    <div class="form-group">
                        <label>Pin Code</label>
                        <input type="number" class="form-control" formControlName="pincode" placeholder="Pin Code">
                    </div>
            
                    <button mat-raised-button style = "width: 100%;" color="primary" type="submit" [disabled] = "!gotLocation || !requesterForm.valid">Request</button>
                    <span style="color: gray;text-align: center;width: 100%;">
                        <p>Enable location in order to submit<br>By clicking add you are agreeing to the <a title="Terms" target="_blank" href="/assets/T&C.pdf" >terms and conditions</a></p>
                    </span>
            
                </form>
            
                <button mat-stroked-button style = "width: 100%;" color="primary" (click)="getLocation()">Allow Location</button>
                <span style="color: gray;text-align: center;width: 100%;">
                    <p>Allowing location helps us connect you to plasma requests nearby, nobody will be able to access your location</p>
                </span>
            </div>            
          </div>
    </mat-tab>
    <mat-tab label="Requested Information">
        <div class="container">
            <div class="heading">
                <p>List of Submitted Requests</p>
              </div>
            <table class="table" *ngIf= "registeredNames.length > 0">
                <thead>
                    <tr>
                        <th *ngFor = "let column of headers">{{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let name of registeredNames;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{name}}</td>
                        <td>{{registeredNumbers[i]}}</td>
                        <td>
                            <button mat-raised-button color="primary" (click)="openDialog(registeredNumbers[i])">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
